<div class="card" style="width: 18rem;">
  <div class ="card-body">
    <%= form_with model: @movie do |f| %>
      <h5 class="card-title">
        <%= f.text_field :title, placeholder:"Title" %>
      </h5>
      <p class="card-text">
        <%= f.text_area :impression, placeholder:"Impression" %>
      </p>
      <p class="card-text">
        <%= f.number_field :user_id, id: :movie_user_id, value: current_user.id, type: :hidden %>
      </p>
      <%= f.submit class:"btn btn-secondary"%>
    <% end %>
  </div>
</div>
